@model EFGetStarted.AspNetCore.ExistingDb.Models.Værktøjskasse

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Værktøjskasse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Anskaffet" class="control-label"></label>
                <input asp-for="Anskaffet" class="form-control" />
                <span asp-validation-for="Anskaffet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fabrikat" class="control-label"></label>
                <input asp-for="Fabrikat" class="form-control" />
                <span asp-validation-for="Fabrikat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EjesAf" class="control-label"></label>
                <select asp-for="EjesAf" class ="form-control" asp-items="ViewBag.EjesAf"></select>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serienummer" class="control-label"></label>
                <input asp-for="Serienummer" class="form-control" />
                <span asp-validation-for="Serienummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Farve" class="control-label"></label>
                <input asp-for="Farve" class="form-control" />
                <span asp-validation-for="Farve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
