@model EFE18Demo2.AspNetCore.ExistingDbMigration.Models.Håndværker

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Håndværker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ansættelsedato" class="control-label"></label>
                <input asp-for="Ansættelsedato" class="form-control" />
                <span asp-validation-for="Ansættelsedato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Efternavn" class="control-label"></label>
                <input asp-for="Efternavn" class="form-control" />
                <span asp-validation-for="Efternavn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fagområde" class="control-label"></label>
                <input asp-for="Fagområde" class="form-control" />
                <span asp-validation-for="Fagområde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fornavn" class="control-label"></label>
                <input asp-for="Fornavn" class="form-control" />
                <span asp-validation-for="Fornavn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
